/*Add your CSS below!*/

* {
  font-family: Frutiger, Avenir, Arial;
}
body {
  background-color: grey;
  margin: 0;
  padding-top: 0;
}
.nav {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 4em;
  background-color: white;
  border-bottom: .5em solid lightgrey;
  overflow: auto;
  background: transparent url(assets/white_transparent_background.jpeg);
}
.nav a {
  color: #424e06;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}
.nav li {
  display: inline;
}
.nav .pull-left {
  margin-left: 2em;
}
.nav .pull-right {
  margin-right: 2em;
}
#profile_pic, #vacation_pic {
  height: 200px;
  width: 200px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  margin: 1em 1em 1em 4em;
  border-style: outset;
  border-radius: 15px;
  box-shadow: 15px 30px 40px 15px;
}
#profile_pic:hover, #vacation_pic:hover {
  width: 225px;
  height: 225px;
}
#vacation_pic {
  margin-bottom: 4em;
}
h1, h2, h3 {
  color: #a6c510;
  font-family: Frutiger, Avenir, Arial;
  margin: 1em 0 .5em 1em;
}
h2, h3 {
  text-transform: uppercase;
}
h1, form, #button, #buttonTwo {
  margin: 2em .5em .5em 1em;
}
.about {
  border-top: .5em solid lightgrey;
  border-bottom: .5em solid lightgrey;
  background-color: white;
}
li {
  color: #000000;
}
p, ol, .goals li, .experience li {
  color: #000000;
  margin: 0em 0em 0em 2em;
}
ol {
  list-style-type: none;
}
#moveme_down {
  margin-top: 20px;
}
a:link, a:visited, a {
  text-decoration: none;
  color: #424e06;
}
a:hover, a:focus, a:active {
  font-weight: bold;
  font-style: none;
  text-decoration: underline;
  color: #313b04;
}

#button, #buttonTwo {
    display: inline-block;
    height:20px;
	width:70px;
	background-color:##A6C510;
	font-family:arial;
	font-weight:bold;
	color:#ffffff;
	border-radius: 5px;
	text-align:center;
	margin-top:2px;
}

form {
  display: inline-block;
  margin-left: 1em;
  margin-top: 0;
}
