* {
  font-family: Frutiger, Avenir, Arial;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
}
body {
  background-color: white;
  margin: 0;
  padding-top: 0;
}
img not(.accordian img) {
  max-width: 100%;
}
a, h4 {
    color: #428bca;
    text-decoration: none;
    background: 0 0;
}
h1, h3 {
  color: #2A6496
}
.pull-left {
    float: left!important;
}
