* {
  font-family: Frutiger, Avenir, Arial;
}
body {
  background-color: white;
  margin: 0;
  padding-top: 0;
}

img {
  max-width: 100%;
}

.nav {
  top: 0;
  left: 0;
  position: relative;;
  width: 100%;
  height: 12em;
  background-color: white;
  border-bottom: .5em solid lightgrey;
  overflow: auto;
  /*background: transparent url(../../assets/images/white_transparent_background.jpeg);*/
  /*background: transparent url(/Users/Mike/CF/301/portfolio/assets/images/white_transparent_background.jpeg);*/
  padding-top: 1em;
}
.nav a {
  /*color: #424e06;*/
  font-size: 18px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

nav ol {
  position: absolute;
  left: 2em;
  top: 1em;
  margin-left: 0;
  padding-left: 0;
  float: left;
}

nav li {
  display: block;
  margin: 0 0 0 0;
  width: 10%;
  /*visibility: hidden;*/

}
#profile_pic, #vacation_pic {
  height: 200px;
  width: 200px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  margin: 1em 1em 1em 4em;
  border-style: outset;
  border-radius: 15px;
  box-shadow: 15px 30px 40px 15px;
}
#vacation_pic:hover {
  width: 225px;
  height: 225px;
}
#vacation_pic {
  height: 200px;
  width: 200px;
  margin-bottom: 4em;
}
#profile_pic {
  height: 400px;
  width: 300px;
}

#profile_pic:hover {
  height: 375px;
  width: 275px;
}
h1, h2, h3 {
  /*color: #a6c510;*/
  margin: 1em 0 .5em 1em;
}
h1, h2, h3 {
  text-transform: uppercase;
}
form, #button, #buttonTwo {
  margin: 2em .5em .5em 1em;
}
li {
  color: #000000;
}
p, ol, .goals li, .experiences li, h4 {
  color: #000000;
  margin: 0em 0em 0em 2em;
}
.about > p:nth-child(3){
  margin-top: .5em;
}
h4 {
  margin-bottom: .5em;
}
ol, #projects > ul > li {
  list-style-type: none;
}
a:link, a:visited, a {
  text-decoration: none;
  /*color: #424e06;*/
}
a:hover, a:focus, a:active {
  font-weight: bold;
  font-style: none;
  text-decoration: underline;
  /*color: #313b04;*/
}
#button, #buttonTwo {
  display: inline-block;
  height: 20px;
  width: 70px;
  /*background-color: ##A6C510;*/
  font-family: arial;
  font-weight: bold;
  color: black;
  border-radius: 5px;
  text-align: center;
  margin-top: 2px;
}
form {
  display: inline-block;
  margin-left: 1em;
  margin-top: 0;
}
#about  {
  margin-top: 0em;
}

footer {
  position: relative;;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4em;
  margin-top: 2em;
  overflow: auto;
  padding-top: 0em;
  padding-bottom: 2em;
  text-align: center;
  /*background-color: white;*/
  /*background: transparent url(assets/images/white_transparent_background.jpeg);*/
  /*border-top: .1em solid lightgrey;*/
  /*border-bottom: .1em solid lightgrey;*/
}
footer a {
  /*color: #424e06;*/
  font-size: 18px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}
footer li {
  display: inline-flex;
}

.social {
  margin-left: 0em;
}

.icon-menu, .icon-menu a, .icon-menu p {
  position: absolute;
  right: 1em;
  top: 0;
  font-size: 46px;
  /*height: 3em;
  width: 2em;*/
  /*color: #424e06;*/
  padding: 0;
  margin: 0;
}

#experience {
  margin-top: 1em;
}

@media screen and (min-width: 560px) {
   .icon-menu {
     visibility: hidden;
   }
   /*nav ul  {
     display: inline;;
   }*/
   nav li {
     display: inline;
     /*visibility: visible;*/
   }
   .nav {
     height: 4em;
   }
}
